In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
%matplotlib inline
import matplotlib  
matplotlib.rcParams["figure.figsize"] = (20,10)
import jovian
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
#read the data file

In [5]:
df1 = pd.read_csv("Bengaluru_House_Data.csv")
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [6]:
df1.shape

(13320, 9)

In [7]:
df1.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [8]:
df2=df1.drop(['area_type','society','balcony','availability'], axis = 'columns')
df2.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [9]:
#data cleaning

In [10]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [11]:
df3 = df2.dropna()
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [12]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [13]:
df3['size_in_BHK'] = df3['size'].apply(lambda x : int(x.split(' ')[0]))
df3

C:\Users\User\AppData\Local\Temp\ipykernel_6892\798301342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['size_in_BHK'] = df3['size'].apply(lambda x : int(x.split(' ')[0]))

,location,size,total_sqft,bath,price,size_in_BHK
0,Electronic City Phase II,2 BHK,1056,2.0,39.07,2
1,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00,4
2,Uttarahalli,3 BHK,1440,2.0,62.00,3
3,Lingadheeranahalli,3 BHK,1521,3.0,95.00,3
4,Kothanur,2 BHK,1200,2.0,51.00,2
...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453,4.0,231.00,5
13316,Richards Town,4 BHK,3600,5.0,400.00,4
13317,Raja Rajeshwari Nagar,2 BHK,1141,2.0,60.00,2
13318,Padmanabhanagar,4 BHK,4689,4.0,488.00,4
13319,Doddathoguru,1 BHK,550,1.0,17.00,1

In [14]:
df3['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [15]:
def is_float(x):
    try:
        float(x)
        return True
    except:
        return False
    
        

df3[~df3['total_sqft'].apply(is_float)].head(10)

               location       size      total_sqft  bath    price  size_in_BHK
30            Yelahanka      4 BHK     2100 - 2850   4.0  186.000            4
122              Hebbal      4 BHK     3067 - 8156   4.0  477.000            4
137  8th Phase JP Nagar      2 BHK     1042 - 1105   2.0   54.005            2
165            Sarjapur      2 BHK     1145 - 1340   2.0   43.490            2
188            KR Puram      2 BHK     1015 - 1540   2.0   56.800            2
410             Kengeri      1 BHK  34.46Sq. Meter   1.0   18.500            1
549         Hennur Road      2 BHK     1195 - 1440   2.0   63.770            2
648             Arekere  9 Bedroom       4125Perch   9.0  265.000            9
661           Yelahanka      2 BHK     1120 - 1145   2.0   48.130            2
672        Bettahalsoor  4 Bedroom     3090 - 5002   4.0  445.000            4

In [16]:
def convert_total_sqft_range_tosinglevalue(x):
    tokens = x.split('-')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [17]:
df4 = df3.copy()

In [18]:
df4['total_sqft'] = df4['total_sqft'].apply(convert_total_sqft_range_tosinglevalue)
df4.head(20)

                    location       size  total_sqft  bath   price  size_in_BHK
0   Electronic City Phase II      2 BHK      1056.0   2.0   39.07            2
1           Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00            4
2                Uttarahalli      3 BHK      1440.0   2.0   62.00            3
3         Lingadheeranahalli      3 BHK      1521.0   3.0   95.00            3
4                   Kothanur      2 BHK      1200.0   2.0   51.00            2
5                 Whitefield      2 BHK      1170.0   2.0   38.00            2
6           Old Airport Road      4 BHK      2732.0   4.0  204.00            4
7               Rajaji Nagar      4 BHK      3300.0   4.0  600.00            4
8               Marathahalli      3 BHK      1310.0   3.0   63.25            3
9               Gandhi Bazar  6 Bedroom      1020.0   6.0  370.00            6
10                Whitefield      3 BHK      1800.0   2.0   70.00            3
11                Whitefield  4 Bedroom      2785.0   5.0  295.00            4
12        7th Phase JP Nagar      2 BHK      1000.0   2.0   38.00            2
13                 Gottigere      2 BHK      1100.0   2.0   40.00            2
14                  Sarjapur  3 Bedroom      2250.0   3.0  148.00            3
15               Mysore Road      2 BHK      1175.0   2.0   73.50            2
16             Bisuvanahalli      3 BHK      1180.0   3.0   48.00            3
17     Raja Rajeshwari Nagar      3 BHK      1540.0   3.0   60.00            3
18     Ramakrishnappa Layout      3 BHK      2770.0   4.0  290.00            3
19        Manayata Tech Park      2 BHK      1100.0   2.0   48.00            2

In [19]:
df4.isnull().sum()

location        0
size            0
total_sqft     46
bath            0
price           0
size_in_BHK     0
dtype: int64

In [20]:
convert_total_sqft_range_tosinglevalue('34.46Sq. Meter')

In [21]:
df5 = df4.copy()

In [22]:
df5['price_per_sqft'] = (df5['price']*100000)/df5['total_sqft']

In [23]:
df5

,location,size,total_sqft,bath,price,size_in_BHK,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,Richards Town,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

In [24]:
df5.isnull().sum()

location           0
size               0
total_sqft        46
bath               0
price              0
size_in_BHK        0
price_per_sqft    46
dtype: int64

In [25]:
len(df5.location.unique())

1304

In [26]:
df5.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [27]:
df5.location = df5.location.apply(lambda x : x.strip())

In [28]:
df5.location

0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
13315                  Whitefield
13316               Richards Town
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
13319                Doddathoguru
Name: location, Length: 13246, dtype: object

In [29]:
location_stats = df5.groupby('location')['location'].agg('count').sort_values(ascending= False)

In [30]:
location_stats

location
Whitefield               535
Sarjapur  Road           392
Electronic City          304
Kanakpura Road           266
Thanisandra              236
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Karnataka Shabarimala      1
whitefiled                 1
Name: location, Length: 1293, dtype: int64

In [31]:
len(location_stats[location_stats <= 10])

1052

In [32]:
location_stats_less_than_10 = location_stats[location_stats <= 10]

In [33]:
location_stats_less_than_10

location
Basapura                 10
1st Block Koramangala    10
Gunjur Palya             10
Kalkere                  10
Sector 1 HSR Layout      10
                         ..
1 Giri Nagar              1
Kanakapura Road,          1
Kanakapura main  Road     1
Karnataka Shabarimala     1
whitefiled                1
Name: location, Length: 1052, dtype: int64

In [34]:
len(df5['location'].unique())

1293

In [35]:
df5.location =df5.location.apply(lambda x : 'other' if x in location_stats_less_than_10 else x)
len(df5['location'].unique())

242

In [36]:
df5[df5.total_sqft/df5.size_in_BHK <300]

,location,size,total_sqft,bath,price,size_in_BHK,price_per_sqft
9,other,6 Bedroom,1020.0,6.0,370.0,6,36274.509804
45,HSR Layout,8 Bedroom,600.0,9.0,200.0,8,33333.333333
58,Murugeshpalya,6 Bedroom,1407.0,4.0,150.0,6,10660.980810
68,Devarachikkanahalli,8 Bedroom,1350.0,7.0,85.0,8,6296.296296
70,other,3 Bedroom,500.0,3.0,100.0,3,20000.000000
...,...,...,...,...,...,...,...
13277,other,7 Bedroom,1400.0,7.0,218.0,7,15571.428571
13279,other,6 Bedroom,1200.0,5.0,130.0,6,10833.333333
13281,Margondanahalli,5 Bedroom,1375.0,5.0,125.0,5,9090.909091
13303,Vidyaranyapura,5 Bedroom,774.0,5.0,70.0,5,9043.927649
13311,Ramamurthy Nagar,7 Bedroom,1500.0,9.0,250.0,7,16666.666667

In [37]:
df5.shape

(13246, 7)

In [38]:
df6 = df5[~(df5.total_sqft/df5.size_in_BHK <300)] #it is inposible to have 300 sqft rooms these outliers are selected according to  domain  knowladge

In [39]:
df6.shape

(12502, 7)

In [40]:
 df6.price_per_sqft.describe()

count     12456.000000
mean       6308.502826
std        4168.127339
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [42]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft>(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index = True)
    return df_out

df7 = remove_pps_outliers(df6)
df7.shape

(1422, 7)